.top-picture {
    margin-top: 72px;
    width: 100%;
    height: 500px;
    background-image: url("../../images/home/flowerShop-full.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    margin-top: 72px;
    text-decoration: none;
    margin-bottom: 72px;

}
